@model App.Endpoint.MVC.Models.RegisterViewModel

@{
	ViewData["Title"] = "ثبت نام";
}

<div class="row">
	<div class="col">
		<div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
			<div class="card-header">

				<h4 class="card-title">مشتری</h4>
			</div>
			<div class="card-body">
				<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
			</div>
			<a class="btn btn-warning" asp-action="CostumerRegister">
				ثبت نام
			</a>
		</div>
	</div>
	<div class="col">
		<div class="card text-white bg-success mb-3" style="max-width: 40rem;">
			<div class="card-header">

				<h4 class="card-title">کارمند</h4>
			</div>
			<div class="card-body">
				<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
			</div>
			<a class="btn btn-warning" asp-action="WorkerRegister">
				ثبت نام
			</a>
		</div>
	</div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial"/>
}