@using App.Domain.Dtos
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model App.Domain.Dtos.WorkerDto
@{
    ViewData["Title"] = "کارمند جدید";
    var cities = (ViewData["Cities"] as List<CityDto>)!;
}
<h3>اضافه کردن کارمند جدید</h3>
<br>

<form asp-action="Add" formmethod="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
        <br/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password">
        <br/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input class="form-control" asp-for="ConfirmPassword">
        <br/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName">
        <br/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName">
        <br/>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NationalId"></label>
        <input class="form-control" asp-for="NationalId">
        <br/>
        <span asp-validation-for="NationalId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber">
        <br/>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HomeAddress"></label>
        <input class="form-control" asp-for="HomeAddress">
        <br/>
        <span asp-validation-for="HomeAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description">
        <br/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CityName"></label>
        <select class="form-select" asp-for="CityId" asp-items="@(new SelectList(cities, nameof(CityDto.Id), nameof(CityDto.Name)))">
            <option disabled selected>یک شهر انتخاب کنید</option>
        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <div style="float: left; margin-top: 5px;">
        <button type="submit" class="btn btn-primary">ایجاد</button>
        <a class="btn btn-danger" asp-action="Index">انصراف</a>
    </div>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}