@using App.Endpoint.MVC.Areas.Admin.Models
@model App.Endpoint.MVC.Areas.Admin.Models.WorkerVM
@{
	ViewData["Title"] = "کارمند جدید";
}
<h3>اضافه کردن کارمند جدید</h3>
<br>

<form>
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="Email"></label>
		<input class="form-control" asp-for="Email">
		<br/>
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Password"></label>
		<input class="form-control" asp-for="Password">
		<br/>
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="FirstName"></label>
		<input class="form-control" asp-for="FirstName">
		<br/>
		<span asp-validation-for="FirstName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="LastName"></label>
		<input class="form-control" asp-for="LastName">
		<br/>
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="NationalSecurityId"></label>
		<input class="form-control" asp-for="NationalSecurityId">
		<br/>
		<span asp-validation-for="NationalSecurityId" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="PhoneNumber"></label>
		<input class="form-control" asp-for="PhoneNumber">
		<br/>
		<span asp-validation-for="PhoneNumber" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="HomeAddress"></label>
		<input class="form-control" asp-for="HomeAddress">
		<br/>
		<span asp-validation-for="HomeAddress" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Description"></label>
		<input class="form-control" asp-for="Description">
		<br/>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="UserCityId"></label>
		<select class="form-select" asp-for="UserCityId" asp-items="@(new SelectList((ViewBag.Cities as List<CityVM>), nameof(CityVM.Id), nameof(CityVM.CityName)))">
			<option value="@null">مشخص نشده</option>
		</select>
	</div>
	<div style="float: left; margin-top: 5px;">
		<button type="submit" class="btn btn-primary" asp-action="Add" formmethod="post">ایجاد</button>
		<a class="btn btn-danger" asp-action="Index" asp-route-name="@null">انصراف</a>
	</div>

</form>
@section Scripts{
	<partial name="_ValidationScriptsPartial"/>
}