@using App.Domain.Dtos
@model List<JobPictureDto>


<p>لیست عکس‌های کارمند</p>
<table class="table table-striped ">
	<thead>
		<tr>
			<th scope="col">توضیحات</th>
			<th scope="col">وضعیت تایید</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var picture in Model)
		{
			<tr>
				<td>@picture.Description</td>
				<td>@(picture.IsConfirmed? "تایید شده" : "تایید نشده")</td>
				<td class="d-flex justify-content-end">
					<a class="btn btn-success" asp-controller="JobPicture" asp-action="Details" asp-route-Id=@picture.Id>
						جزئیات @(picture.IsConfirmed? null : "و تایید")
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
