@model List<App.Domain.Dtos.JobCategoryDto>
@{
	ViewData["Title"] = "سفارش جدید";
}
<br/>
<h2>دسته بندی سفارش را انتخاب کنید</h2>
<br/>
<div class="container-fluid">
@await Component.InvokeAsync("CostumerJobCatChoose",new
							{
								jobCategories = Model,
							})
</div>
