@using Microsoft.AspNetCore.Mvc.TagHelpers
@model App.Domain.Dtos.JobWorkerProposalDto
@{
    ViewData["Title"] = "پیشنهاد جدید";
}
<h3>اضافه کردن پیشنهاد جدید</h3>
<br>

<form asp-action="Add" formmethod="post" asp-route-jobId="@Model.JobId">
    <div class="form-group">
        <label>توضیحات</label>
        <input class="form-control" asp-for="WorkerComment">
        <br/>
        <span asp-validation-for="WorkerComment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProposedPrice"></label>
        <input class="form-control" asp-for="ProposedPrice">
        <br/>
        <span asp-validation-for="ProposedPrice" class="text-danger"></span>
    </div>
    <div style="float: left; margin-top: 5px;">
        <button type="submit" class="btn btn-primary">ایجاد</button>
        <a class="btn btn-secondary" asp-action="Index">انصراف</a>
    </div>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}