@using App.Domain.Dtos
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model App.Domain.Dtos.CostumerAddressDto
@{
	ViewData["Title"] = "آدرس جدید";
	var cities = (ViewData["Cities"] as List<CityDto>)!;
}
<h3>آدرس جدید</h3>
<br>

<form asp-action="Add" formmethod="post" asp-route-id="@Model.Id">
	<div class="form-group">
		<label asp-for="Name"></label>
		<input class="form-control" asp-for="Name">
		<br/>
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="FullAddress"></label>
		<input class="form-control" asp-for="FullAddress">
		<br/>
		<span asp-validation-for="FullAddress" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ReceivingPersonFullName"></label>
		<input class="form-control" asp-for="ReceivingPersonFullName">
		<br/>
		<span asp-validation-for="ReceivingPersonFullName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ReceivingPersonPhoneNumber"></label>
		<input class="form-control" asp-for="ReceivingPersonPhoneNumber">
		<br/>
		<span asp-validation-for="ReceivingPersonPhoneNumber" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label class="labels" asp-for="CityName"></label>
		<select class="form-select" asp-for="CityId" asp-items="@(new SelectList(cities, nameof(CityDto.Id), nameof(CityDto.Name)))">
		</select>
		<span asp-validation-for="CityId" class="text-danger"></span>
	</div>
	<div style="float: left; margin-top: 5px;">
		<button type="submit" class="btn btn-primary">ایجاد</button>
		<a class="btn btn-secondary" asp-action="Index">انصراف</a>
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial"/>
}