@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser<int>> SignInManager
@inject UserManager<IdentityUser<int>> UserManager

<ul class="navbar-nav">

	<li class="nav-item">
		<form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout">
			<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
		</form>
	</li>
</ul>